/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
/* Estilos para el encabezado */
header {
    background-color: #F5F5F5; /* Cambia el color de fondo para el encabezado a gris claro */
    color: #333; /* Cambia el color del texto para que sea legible en un fondo claro */
    text-align: center;
    padding: 1em 0;
}

/* Estilos para el logo */
header img {
    max-width: 200px; /* Ajusta el tamaño máximo del logo */
    margin: 10px; /* Agrega un margen alrededor del logo */
    display: block; /* Asegura que el logo sea un elemento de bloque */
    border-radius: 50%;
    margin: 0 auto; /* Centra horizontalmente el logo */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #B26BFF; /* Cambia el color de fondo a verde azulado */
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


/* Estilos para las secciones */
main section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #BB7ED7;
    background-color: #E9CFFF;
}

/* Estilos para los enlaces en las secciones */
main section a {
    color: #007bff;
    text-decoration: underline;
}

/* Estilos para la lista horizontal */
.horizontal-list {
    list-style: none; /* Quita los puntos de la lista */
    text-align: center; /* Alinea los elementos al centro */
    padding: 0; /* Quita el relleno predeterminado */
}

.horizontal-list li {
    display: inline; /* Cambia el tipo de display a inline para alinear horizontalmente */
    margin-right: 20px; /* Agrega un espacio entre los elementos */
}

.horizontal-list li:last-child {
    margin-right: 0; /* Quita el margen derecho del último elemento para evitar espacio extra */
}

/* Estilos para el pie de página */
footer {
    background-color: #F5F5F5; /* Cambia el color de fondo para el pie de página a gris claro */
    color: #333; /* Cambia el color del texto para que sea legible en un fondo claro */
    text-align: center;
    padding: 1em 0;
}
